$background-color: #202020;
$text-color: #e0e0e0;
$placeholder-color: #a0a0a0;
$background-shadow: rgba(0, 0, 0, 0.5);

$primary-color: #048e5c;
$primary-hover: #03764c;
$secondary-color: #a09f9f;

$input-bg: #2a2a2a;
$input-border-color: #3a3a3a;
$input-focus-color: #47a76a;

$button-bg: $primary-color;
$button-hover: $primary-hover;
$button-disabled: #6b6b6b;

